<ion-header>
  <!--<ion-navbar hideBackButton> -->
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h4>Login</h4>
	<form (submit)="doLogin()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Correo</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>Login</button>
      </div>
    </ion-list>
  </form>

  <div padding>
    <a (click)="goRegister()">Crear cuenta</a> <br/>
    <a (click)="recoverPassword()">Recuperar Contraseña</a>
  </div>
</ion-content>
