<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<h4>Registro</h4>
	<form>
		<ion-list>
			<ion-item>
				<ion-label fixed>Email</ion-label>
				<ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>Nombre</ion-label>
				<ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>Contraseña</ion-label>
				<ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
			</ion-item>

			<div padding>
				<button (click)="register()" ion-button block color="primary">Crear Cuenta</button>
			</div>
		</ion-list>
	</form>
</ion-content>
