
<ion-header>
  <ion-toolbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>    
  </ion-toolbar>
</ion-header>


<ion-content>
  <h4 padding>Lista de Ordenes</h4>
  <ion-list>
    <ion-item *ngFor="let order of orders" (click)="orderClick(order)">
      <ion-icon name="leaf" item-start></ion-icon>
        {{order.titulo}}
        <div class="item-note" item-end>
          {{order.monto}}
        </div>
    </ion-item>
  </ion-list>

  <div padding *ngIf="noData">
    <p>Error conectando con el servicio.</p>
  </div>
</ion-content>
