<ion-header>
  <ion-toolbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4 padding>Crear Orden</h4>
  <!--
  <button ion-button secondary menuToggle>Toggle Menu</button>
  -->
  <form (submit)="createOrder()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Titulo</ion-label>
        <ion-input type="text" [(ngModel)]="order.title" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Detalle</ion-label>
        <ion-input type="text" [(ngModel)]="order.detail" name="detail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Monto</ion-label>
        <ion-input type="number" [(ngModel)]="order.monto" name="monto"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>Crear</button>
      </div>
    </ion-list>
  </form>
</ion-content>
