<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<h3 class="title">Bienvenido</h3>
	<ion-grid>
	  <ion-row>
	    <ion-col col-12>
	      <button ion-button full (click)="login()">Login</button>
	    </ion-col>
	  </ion-row>

	  <ion-row>
	    <ion-col col-12>
	      <button ion-button full (click)="register()">Registrarse</button>
	    </ion-col>
	  </ion-row>
	</ion-grid>
</ion-content>
